[user]
showPreviews=false
showWindowCount=false
forceIconSize=true
iconSize=32
indicatorStyle=2
inactiveIndicatorStyle=2
indicatorOrientation=1
indicatorColorFromTheme=true
noWindowsListIfSingle=true
onlyDisplayVisible=true
pinned=xfce4-terminal.desktop;org.gnome.Epiphany.desktop;thunar.desktop;